<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Pacific Storms Climatology Products (PSCP) - Error</title>
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="stylesheet" type="text/css"  href="css/style.css" />
        <link rel="stylesheet" type="text/css" href="css/weather.css" />
    </head>

<body>
    <div>
        Pacific Storms Climatology Products
    </div>
    <div>
        ${error.message}
        <br /><br />
        Reason: ${error.reason}
    </div>
    <div>
        <input type="button" value="Close" onclick="window.close()" />
    </div>
</body>
</html>
